asgiref==3.3.4
atomicwrites==1.4.0
attrs==19.3.0
certifi==2019.9.11
chardet==3.0.4
colorama==0.4.4
coreapi==2.3.3
coreschema==0.0.4
coverage==5.4
defusedxml==0.7.1
diff-match-patch==20200713
Django==3.2.3
django-debug-toolbar==2.2
django-filter==2.4.0
django-import-export==2.5.0
djangorestframework==3.12.2
djangorestframework-camel-case==1.2.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.6.0
drf-yasg==1.20.0
et-xmlfile==1.0.1
idna==2.8
importlib-metadata==1.5.0
inflection==0.5.1
itypes==1.2.0
Jinja2==3.0.0
jsonschema==3.2.0
MarkupPy==1.14
MarkupSafe==2.0.0
more-itertools==8.2.0
odfpy==1.4.1
openapi==1.1.0
openpyxl==3.0.7
packaging==20.1
Pillow==8.2.0
PyJWT==1.7.1
pyparsing==2.4.6
pyrsistent==0.17.3
pytz==2019.3
requests==2.22.0
ruamel.yaml==0.17.4
ruamel.yaml.clib==0.2.2
six==1.14.0
sqlparse==0.3.0
tablib==3.0.0
uritemplate==3.0.1
urllib3==1.25.6
zipp==2.2.0
